@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&family=Rum+Raisin&display=swap");

* {
  list-style: none;
}

.borderBox {
  border: 2px solid white;
  border-radius: 30px;
  height: 2.3rem;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

:root {
  --cp_bg_color--: #000;
  --poppins-font--: "Poppins", sans-serif;
  --rum-roisin-font--: "Rum Raisin", sans-serif;
  --box-color--: #242424;
}

.cp_btn {
  background: red;
  border: none;
  border-radius: 2rem;
  line-height: 2rem;
  height: 2rem;
  width: 7rem;
}

.text-poppins {
  font-family: "Poppins", sans-serif;
}

.text-rumroisin {
  font-family: "Rum Raisin", sans-serif;
}

.cp_bg_color {
  min-height: 100vh;
  width: 100%;
  background-color: var(--cp_bg_color--);
}

/* Header Css */

.cp_header {
  height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.list_wrapper ul {
  display: flex;
}

.cp_logo_wrapper {
  color: red;
  font-family: var(--rum-roisin-font--);
  letter-spacing: 3px;
  font-size: 1.5rem;
}

/* Footer Css */

.cp_footer {
  height: 10rem;
  background-color: var(--box-color--);
  color: #fff;
}

/* Slider Css */

.cp_home_slider {
  height: 100%;
}

.slider_loading {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #333;
}

.slider_loading::before {
  content: "";
  height: 110px;
  display: block;
  background-color: #ededed;
  box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
}

.slider_loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: slider_load 1s infinite linear;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 81%
  );
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper_container {
  height: 100vh;
  cursor: grab;
}

@keyframes slider_load {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.cp_home_slider .background_image {
  box-shadow: inset 0 0 0 50rem rgb(0 0 0 / 53%);
  overflow: hidden;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
}

.movie_poster img {
  width: auto;
  height: 30rem;
  border-radius: 20px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.overview {
  font-weight: 300;
  text-align: justify;
}

.btns {
  margin-top: 50px;
}

.btns a {
  border-radius: 25px;
  padding: 5px 0;
  background: red;
  width: 10rem;
}

.btns button {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 25px;
  padding: 5px 0;
  width: 10rem;
  color: #ffffff;
}

.btns button:hover {
  background-color: #ffffff;
  color: #ff0000;
  transition: 0.6s;
}

.scroll_btn {
  top: 50%;
  transform: translateY(-50%);
}

/* Modal Css */

.modal_close_btn {
  background: transparent;
  border: none;
}

.modal_close_btn:hover {
  color: white;
  transition: 0.2s;
}

/* List Movie Css */

.cp_list_movie_container {
  background-color: var(--box-color--);
  overflow-x: hidden;
}

.cp_list_movie_container_loader {
  height: 23rem;
  background-color: var(--box-color--);
}

.cp_list_movie_container_loader::before {
  content: "";
  height: 110px;
  display: block;
  background-color: #ededed;
  box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
}

.cp_list_movie_container_loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: list_load 1s infinite linear;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00ffffff", endColorstr="#00ffffff",GradientType=1 );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 81%
  );
}

@keyframes list_load {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.list_movie_scroll {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.list_movie_scroll::-webkit-scrollbar {
  width: 100%;
  height: 0.5rem;
}

.list_movie_scroll::-webkit-scrollbar-track {
  background: #747474;
}

.list_movie_scroll::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 6px;
}

.list_movie_scroll::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.cp_movie_card {
  height: 21rem;
  padding: 10px 10px;
  display: flex;
  position: relative;
}

.cp_movie_card a {
  width: 15rem;
  height: 20rem;
}

.cp_movie_card a img {
  width: inherit;
  height: inherit;
}

.cp_circular_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  left: 15px;
}

.outer_ring {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_cover {
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Movie Detail Page Css */

.backdrop_image {
  box-shadow: inset 0 -26rem 10rem 0 #000000e5;
  height: 100vh;
}

.cast {
  background-color: var(--box-color--);
  display: flex;
  flex-direction: column;
}

.cast_card {
  height: 21rem;
  padding: 0 10px;
}

.cast_card img {
  height: inherit;
  width: auto;
}

.cast_list {
  overflow-x: scroll;
  overflow-y: hidden;
}

.cast_list::-webkit-scrollbar {
  width: 100%;
  height: 0.5rem;
}

.cast_list::-webkit-scrollbar-track {
  background: #747474;
}

.cast_list::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 6px;
}

.cast_list::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.cast_card .overlay {
  opacity: 0;
  transition: 0.6s;
  background-color: #00000075;
}

.cast_card:hover .overlay {
  opacity: 1;
  transition: 0.6s;
}

.video_container {
  background-color: var(--box-color--);
  display: flex;
  flex-direction: column;
}

.video_box {
  overflow-y: hidden;
  overflow-x: scroll;
}

.video_box::-webkit-scrollbar {
  width: 100%;
  height: 0.5rem;
}

.video_box::-webkit-scrollbar-track {
  background: #747474;
}

.video_box::-webkit-scrollbar-thumb {
  background: #474747;
  border-radius: 6px;
}

.video_box::-webkit-scrollbar-thumb:hover {
  background: #353535;
}

.reviews {
  background-color: var(--box-color--);
}

.review_container {
  /* box-shadow: 0 0 10px 0 #fff; */
}

.review_container .content {
  padding: 0 0 0 5rem;
  text-align: justify;
}

.author .profile {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.popular_movie_box {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 3rem);
}

.popular_movie_box::-webkit-scrollbar {
  display: none;
}

.like_button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Search Page Css */

.search_container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search_container::-webkit-scrollbar {
  display: none;
}

.cp_search_movie_card {
  height: 21rem;
  padding: 10px 0;
  display: flex;
  position: relative;
}

.cp_search_movie_card a {
  width: 15rem;
  height: 20rem;
}

.cp_search_movie_card a img {
  width: inherit;
  height: inherit;
}

.searchbar {
  height: 100%;
  transform: translateY(3rem);
}

.searchbar form {
  height: 5rem;
  /* border: 2px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form .wrapper {
  border-radius: 2rem;
  width: 40rem;
  background-color: #000;
  display: flex;
}

.searchbar form input {
  width: 30rem;
  height: 3rem;
  background-color: #00000000;
  outline: none;
  color: white;
  font-family: var(--poppins-font--);
  padding: 0 2rem;
  border: none;
}

.searchbar form button {
  height: 3rem;
  width: calc(100% - 30rem);
  font-family: var(--poppins-font--);
  border-radius: 2rem;
  background-color: #ff0000;
  border: none;
  outline: none;
  color: white;
}

.search_result {
  height: calc(100% - 5rem);
  overflow-x: hidden;
  overflow-y: scroll;

  /* border: 2px solid red; */
}

.search_result::-webkit-scrollbar {
  display: none;
}

/* Login page Css */

.login {
  height: 100vh;
  width: 100%;
}

.login_container {
  height: 25rem;
  width: 25rem;
  display: flex;
  box-shadow: 0 0 3px 0 #fff;
  justify-content: center;
  align-items: center;
}

.login_container form .input_field {
  margin: 1rem 0;
}

.input_field input {
  width: 18rem;
  height: 2rem;
  outline: none;
}

.login_container form button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  background-color: red;
  color: #fff;
}

/* Fav Css */

.favourite_container {
  width: 100%;
  height: calc(100% - 3rem);
  padding: 1rem 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* media css at 768px */

@media screen and (max-width: 992px) {
  html {
    font-size: 65.5%;
  }
  /* Slider Css */

  .rating img {
    width: auto;
    height: 2.7rem;
  }

  .title {
    font-size: 2rem;
  }

  .overview {
    padding: 1rem 4rem;
  }

  .swiper_container {
    height: 100%;
  }

  .cp_home_slider {
    height: 30rem;
  }

  .cp_home_slider .background_image {
    background-size: cover;
    height: 100%;
  }

  /* Header */
  .list_wrapper {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 0rem;
    transition: 0.6s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--box-color--);
    z-index: 999;
  }

  .list_wrapper ul {
    display: block;
  }

  .list_wrapper ul li {
    margin: 2rem 0;
    justify-content: center;
  }

  #menu_trigger_btn:checked ~ .list_wrapper {
    transition: 0.6s;
    height: 25rem;
  }

  /* Movie Detail Page */

  .backdrop_image {
    height: 30rem;
    background-size: cover;
  }

  /* Search Page Css */

  .cp_search_movie_card {
    height: auto;
  }

  .cp_search_movie_card a {
    width: 25rem;
    height: auto;
  }
}
